* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .main-div {
    width: 98%;
    margin: auto;
} */
  

.pharmacy-header {
    height: 45vh;
    /* background-image:; */
    background-color: aqua;
    text-align: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 900;
}

.category-drugs-main {
    padding: 20px 10px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.category-drugs-main hr {
    border: 1px solid #636363;
    margin: auto;
    width: 25%;
}

.search-filter {
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 210px;
    height: 40px;
    border: 1px solid #000;
    padding-left: 10px;
}

.filter {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    padding: 5px;
}


.category-drug {
    margin: 20px 0 20px 0;
    display: flex;
}

.category-drug .category {
    background-color: rgb(201, 199, 199);
    width: 27vh;
    height: 60vh;
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.category-drug h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.category-drug ul li {
    margin-top: 10px;
    align-items: center;
}

.category-drug .drugs {
    background-color: aquamarine;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 0 0 40px;
}

.recommended {
    height: 50vh;
    width: 100%;
    background-color: bisque;
    margin-top: 20px;
}

.recommended h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.7rem;
    font-weight: 700;
}