* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .main-div {
    width: 98%;
    margin: auto;
} */
  

.pharmacy-header {
    height: 45vh;
    background-image: url("../../assets/utils/pharmacy-header-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Ensure text color is white for better visibility on the background */
}

.pharmacy-header h1 {
    font-size: 3rem; 
    font-weight: 900;
    margin: 0; /* Remove default margin */
}

.pharmacy-header p {
    font-size: 1.0rem; /* Adjust font size if needed */
    margin: 0; /* Remove default margin */
}

.category-drugs-main {
    padding: 20px 10px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.category-drugs-main hr {
    border: 1px dashed #636363;
    margin: auto;
    width: 25%;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search input {
    width: 210px;
    height: 40px;
    border: 1px solid #000;
    padding: 10px 30px 10px 10px;
}

.search .search-icon {
    position: absolute;
    left: 200px;
    top: 68%;
    transform: translateY(-230%);
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
}

.filter {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    padding: 5px;
    /* margin-top: -10px; */
}

.filter button {
    background: none;
    border: none;
}

.filter button img {
    margin-bottom: -7px;
}


.category-drug {
    margin: 20px 0 20px 0;
    display: flex;
    /* flex-wrap: wrap; */
}

.category-drug .category {
    background-color: rgb(200, 200, 200);
    width: 27vh;
    height: 60vh;
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.category-drug h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.category-drug ul li {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
}

.category li.selected-category {
    background-color: #baceb2; /* Highlight color for selected category */
}

.category-drug .drugs {
    background-color: rgb(235, 235, 235);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 3;
    padding: 20px;
    margin-left: 20px;
}

.drugs table {
    width: 100%;
    border-collapse: collapse;
}

.drugs td {
    padding: 10px;
}


.recommended {
    padding: 20px;
    background-color: bisque;
    margin-top: 20px;
}

.recommended h1 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
}

.drug-div {
    border: 1px solid rgb(230, 230, 230);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.img-div img {
    width: 170px;
    height: 120px;
    padding: 5px 8px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.price-avail-div {
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust gap as needed */
}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}

.view-btn {
    margin-top: 40px;
}

.view-btn .link {
    display: inline-block;
    border: 1px solid #000;
    padding: 7px 20px;
    transition: 0.3s ease-in-out;
}

.view-btn a:hover {
    background-color: rgb(230, 230, 230);
}





/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .pharmacy-header {
        padding: 20px;
    }

    .pharmacy-header h1 {
        font-size: 2rem;
    }

    .pharmacy-header p {
        font-size: 0.9rem;
    }

    .category-drugs-main {
        padding: 10px;
    }

    .category-drug {
        flex-direction: column;
        align-items: flex-start;
    }

    .category-drug .category {
        width: 100%;
        max-width: none;
        border-radius: 10px;
    }

    .category-drug .drugs {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding: 10px 30px;
    }

    .search-filter {
        flex-direction: row;
    }

    .search .search-icon {
        transform: translateY(-215%);
    }

    .filter {
        margin-left: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .category {
        border-radius: 10px;
    }

    .pharmacy-header h1 {
        font-size: 1.5rem;
    }

    .pharmacy-header p {
        font-size: 0.8rem;
    }

    .drugs td {
        padding: 5px;
    }

    .drug-div {
        padding: 5px;
        width: 170px;
    }

    .view-btn {
        margin: 40px 0 5px 0;
    }

    .view-btn a {
        padding: 5px 10px;
    }
    

    .search-icon {
        margin-top: -40px;
    }

    .category-drug .drugs {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 390px) {
    .drugs td {
        padding: 5px;
    }

    .drug-div {
        padding: 2px;
        width: 150px;
    }

    .view-btn {
        margin: 20px 0 5px 0;
    }

    .view-btn a {
        padding: 3px 10px;
    }
}